.piu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin: 0 0 2px;
    font-size: 15px;
}

.piu_reply{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin: 0 0 2px;
    font-size: 15px;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 10px 18px;
    margin-top: 12px;
    margin-bottom: 3px;
}

.piu_main_area{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0;
}

#piar_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin: 0 0 2px;
    font-size: 15px;
    margin-bottom: 15px;
}

#piar_box .piu_main_area{
    padding-bottom: 20px;
}

.avatar_piu{
    height: 50px;
    margin-right: 10px;
}

.avatar_piu_reply{
    height: 35px;
    margin-right: 10px;
}

#piar_textfield{
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    color: #000;
    font-family: sans-serif;
    margin-right: 10px;
}

#piar_textfield::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #acacac;
}

#piar_textfield:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #acacac;
    opacity: 1;
}

#piar_textfield::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #acacac;
    opacity: 1;
}

#piar_textfield:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #acacac;
}

#piar_box_button{
    margin-top: auto;
    width: 120px;
}

.piu_text_area{
    width: 100%;
}

.piu_reply_text_area{
    margin: 5px 0;
}

.piu_info{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2px;
    width: 100%;
}

.piuwer_name{
    font-weight: 700;
    margin-right: 8px;
}

.piuwer_username{
    color: #8f8f8f;
}

.ponto_piu{
    background-color: #c4c4c4;
    margin: 0 8px 0 10px;
}

.piu_time{
    color: #8f8f8f;
}

.piu_message{
    padding: 2px;
    margin: 4px 0 0;
}

.piu_actions_area{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.action_box{
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.piu_action_icon{
    height: 18px;
    margin: 0 8px;
}

.action_count{
    color: #C6C5C5;
    font-weight: 500;
    margin: 15px 0;
}