#pesquisar_no_piupiwer_box{
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    border-radius: 20px;
    height: 35px;
    width: 400px;
    margin-left: 50px;
    padding: 0 19px;
}

#icone_lupa{
    height: 21px;
    margin: 0 10px 0 0;
}

#pesquisar{
    font-size: 18px;
    font-weight: 400;
    color: #6a6a6a;
    width: 100%;
}

#pesquisar::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999;
}

#pesquisar:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

#pesquisar::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

#pesquisar:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
}


#social_media_area{
    display: flex;
    width: 600px;
    margin: 60px auto 0;
    position: relative;
}

.side_bar{
    position: fixed;
    width: 200px;
    bottom: 0;
    padding: 60px 0 0;
    height: 100%;
    box-sizing: border-box;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    display: flex;
    flex-direction: column;
}

#left_side_content{
    padding: 85px 25px 25px;
    left: 50%;
    transform: translateX(-250%);
    align-items: center;
    justify-content: space-between;
}

#navigation_bar{
    width: 100%;
}

.navigation_button{
    width: 100%;
    height: 38px;
    margin: 0;
    color: #999;
    font-size: 16px;
    font-weight: 700;
    border-color: #999;
}

#selected_navigation_button{
    color: #f21d1d;
    border: 2px solid #f21d1d;
}

.navigation_vertical_separator{
    height: 15px;
}

#navigation_piar_button{
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

#ajustes_button{
    height: 40px;
    margin: 10px;
}

#right_side_content{
    padding-bottom: 10px;
    right: 50%;
    transform: translateX(250%);
    align-items: center;
    justify-content: flex-end;
}

#piupiuwer_copyright_text_feed{
    color: #808080;
    font-weight: 500;
    font-size: 15px;
}

#feed_content{
    min-height: 100%;
    width: 100%;
    background-color: #ddd;
}

#tab_title{
    border-bottom: 2px solid #ddd;
    padding: 10px 16px;
    margin: 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.piu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0;
    background-color: white;
    margin: 0 0 2px;
    font-size: 15px;
}

.piu_reply{
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 10px 18px;
    margin-top: 12px;
    margin-bottom: 3px;
}

.piu_main_area{
    display: flex;
    width: 100%;
    align-items: flex-start;
}

#piar_box{
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.avatar_piu{
    height: 50px;
    margin-right: 10px;
}

.avatar_piu_reply{
    height: 35px;
    margin-right: 10px;
}

#piar_textfield{
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    color: #999;
    font-family: sans-serif;
    margin-right: 10px;
}

#piar_textfield::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #acacac;
}

#piar_textfield:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #acacac;
    opacity: 1;
}

#piar_textfield::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #acacac;
    opacity: 1;
}

#piar_textfield:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #acacac;
}

#piar_box_button{
    margin-top: auto;
    width: 120px;
}

.piu_text_area{
    width: 100%;
}

.piu_reply_text_area{
    margin: 5px 0;
}

.piu_info{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2px;
    width: 100%;
}

.piuwer_name{
    font-weight: 700;
    margin-right: 8px;
}

.piuwer_username{
    color: #8f8f8f;
}

.ponto_piu{
    background-color: #c4c4c4;
    margin: 0 8px 0 10px;
}

.piu_time{
    color: #8f8f8f;
}

.piu_message{
    padding: 2px;
    margin: 4px 0 0;
}

.piu_actions_area{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.action_box{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.piu_action_icon{
    height: 18px;
    margin: 0 8px;
}

.action_count{
    color: #C6C5C5;
    font-weight: 500;
    margin: 15px 0;
}