#left_side_header{
    width: 520px;
    justify-content: space-between;
}

#pesquisar_no_piupiwer_box{
    position: relative;
    width: 400px;
    margin: 0 20px;
}

.pesquisar_no_piupiwer_input{
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    border-radius: 20px;
    height: 34px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 17px;
    border: 1px solid transparent;
}

.pesquisar_no_piupiwer_input_active{
    background-color: #fff;
    border: 1px solid #f21d1d;
}

#pesquisar_no_piupiuwer_results{
    position: absolute;
    top: 17;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
    max-height: 500px;
    overflow: auto;
}

#pesquisar_no_piupiuwer_results ol{
    margin: 0;
}

.pesquisa_card{
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 1px;
    padding: 9px 15px;
    cursor: pointer;
}

.avatar_pesquisa{
    height: 90%;
    margin-right: 10px;
    border-radius: 50%;
}

.pesquisa_card .text_area{
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome_pesquisa, .username_pesquisa{
    margin: 0;
}

.nome_pesquisa{
    font-size: 17px;
}

.username_pesquisa{
    font-size: 14px;
    color: #888;
}

.pesquisar_no_piupiwer_dica{
    text-align: center;
    color: #6a6a6a;
    background-color: #fff;
    margin: 0;
    padding: 16px;
}

#icone_lupa{
    height: 16px;
    margin: 0 10px 0 0;
}

#pesquisar{
    font-size: 16px;
    font-weight: 500;
    color: #6a6a6a;
    width: 100%;
}

#pesquisar::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999;
}

#pesquisar:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

#pesquisar::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

#pesquisar:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
}

#logout_button{
    font-weight: 600;
    color: #313131;
}

#logout_button img{
    display: none;
}

#avatar_header{
    height: 90%;
    margin-left: 20px;
}

#avatar_header img{
    height: 100%;
}

.social_media_area{
    width: 600px;
    background-color: #ddd;
    display: block;
}

#tab_top_area{
    border-bottom: 2px solid #ddd;
    padding: 0 16px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 51px;
    box-sizing: border-box;
}

#tab_title{
    font-size: 25px;
}

#recarregar_button{
    height: 45%;
    cursor: pointer;
}

#secao_em_desenvolvimento{
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    color: #222;
}

#icone_desenvolvimento{
    width: 90px;
}

.side_bar{
    position: fixed;
    width: 200px;
    bottom: 0;
    padding: 60px 0 0;
    height: 100%;
    box-sizing: border-box;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    display: flex;
    flex-direction: column;
}

#left_side_content{
    padding: 85px 25px 25px;
    left: 50%;
    transform: translateX(-250%);
    align-items: center;
    justify-content: space-between;
}

#navigation_bar{
    width: 100%;
}

.navigation_button{
    height: 42px;
    margin: 0;
    color: #999;
    font-size: 16px;
    font-weight: 700;
    border-color: #999;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.navigation_button img{
    height: 26.59px;
    width: 22px;
    margin: 0 9% 0 18px;
}

.selected_navigation_button{
    color: #f21d1d;
    border: 2px solid #f21d1d;
}

.navigation_vertical_separator{
    height: 15px;
}

#navigation_piar_button{
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

#navigation_piar_button img{
    display: none;
    height: 70%;
}

#ajustes_button{
    height: 40px;
    margin: 10px;
}

#right_side_content{
    padding-bottom: 10px;
    right: 50%;
    transform: translateX(250%);
    align-items: center;
    justify-content: flex-end;
}

#piupiuwer_copyright_text_feed{
    color: #808080;
    font-weight: 500;
    font-size: 15px;
}

@media screen and (max-width: 1000px){
    .social_media_area{
        width: 60%;
    }

    .side_bar{
        width: 20%;
        bottom: 0;
        padding: 60px 0 0;
        height: 100%;
        box-sizing: border-box;
        border-left: 2px solid #ddd;
        border-right: 2px solid #ddd;
        display: flex;
        flex-direction: column;
    }

    #left_side_content{
        padding: 85px 25px 25px;
        left: 0;
        transform: translateX(0%);
        border-left: none;
    }

    #right_side_content{
        padding-bottom: 10px;
        right: 0;
        border-right: none;
        transform: translateX(0%);
    }

}

@media screen and (max-width: 900px){
    #left_side_content{
        padding-left: 0;
        padding-right: 0;
    }

    #navigation_bar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .navigation_button{
        justify-content: center;
        width: 60%;
    }

    .navigation_button img{
        margin: 0;
    }

    .navigation_button p{
        display: none;
    }

    #navigation_piar_button{
        width: 74%;
    }

    #navigation_piar_button img{
        display: block;
    }

    #navigation_piar_button p{
        display: none;
    }

    #ajustes_button{
        height: 35px;
    }
}

@media screen and (max-width: 850px){
    .social_media_area{
        width: 80%;
        margin-right: 0;
        margin-left: auto;
    }

    #right_side_content{
        display: none;
    }
}

@media screen and (max-width: 640px){
    #pesquisar_no_piupiwer_input{
        margin-left: 30px;
    }

    #left_side_header{
        width: 78%;
    }

    #right_side_header{
        width: 100%;
        margin-right: 4%;
        box-sizing: border-box;
    }

    #logout_button p{
        display: none;
    }
    
    #logout_button img{
        display: block;
        width: 30px;
    }
}

@media screen and (max-height: 560px){
    #pesquisar_no_piupiuwer_results{
        position: absolute;
        top: 17;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
        max-height: 500px;
        overflow: auto;
    }
}