.topo_popup_piu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    bottom: 6px;
}

.topo_popup_piu h2{
    margin: 0;
}

.horizontal_piar_box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#popup_piar_sidebar .popup_tela_cheia_conteudo{
    width: 500px;
}

.piar_tela_cheia .filled_button{
    width: 100px;
    margin-left: 10px;
}

.exit_popup_button{
    font-size: 30px;
    margin: 0;
    cursor: pointer;
}

.piar_tela_cheia .popup_tela_cheia_conteudo{
    align-items: flex-start;
}

.piar_tela_cheia .piar_box{
    margin: 0;
}

.piar_tela_cheia .piu_main_area{
    padding: 0;
    padding-top: 10px;
}

.piar_textfield{
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    color: #000;
    font-family: sans-serif;
    margin-right: 10px;
}

.piar_textfield::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #acacac;
}

.piar_textfield:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #acacac;
    opacity: 1;
}

.piar_textfield::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #acacac;
    opacity: 1;
}

.piar_textfield:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #acacac;
}

.piar_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin: 0 0 2px;
    font-size: 15px;
    margin-bottom: 15px;
}

#popup_piar_box_erro .popup_tela_cheia_conteudo{
    width: 400px;
}

.piar_box .piu_main_area{
    padding-bottom: 20px;
}

.vertical_piar_box{
    margin-top: auto;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piar_box_characters{
    font-size: 15px;
    color: #555;
    margin-top: 4px;
}

.number_of_characters{
    font-weight: 600;
    color: #000;
}

.invalid_number_of_characters{
    color: #f21d1d;
}

.transparent_border_text_area{
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0;
    transition: border-color 2s;
    transition: padding .2s;
}

.invalid_text_area{
    padding: 8px;
    border-color: #f21d1d;
}

.piar_box_button{
    width: 100%;
    transition: opacity .2s;
}

#popup_piar_box_erro p{
    font-size: 17px;
    margin-bottom: 35px;
    text-align: center;
}