.piu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin: 0 0 2px;
    font-size: 15px;
    cursor: default;
}

.piu_reply{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin: 0 0 2px;
    font-size: 15px;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 10px 18px;
    margin-top: 12px;
    margin-bottom: 3px;
}

.piu_main_area{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0;
}

.piu_info{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
}

.avatar_piu{
    width: 50px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.avatar_piu_reply{
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.piuwer_name{
    font-weight: 700;
    margin-right: 8px;
}

.piuwer_username{
    color: #8f8f8f;
}

.ponto_piu{
    background-color: #c4c4c4;
    margin: 0 8px 0 10px;
}

.piu_time{
    color: #8f8f8f;
}

.piu_text_area{
    width: 100%;
    box-sizing: border-box;
}

.piu_reply_text_area{
    margin: 5px 0;
}

.piu_message{
    padding: 2px;
    margin: 4px 0 0;
    width: 500px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.piu_reply_message{
    width: 460px;
}

.piu_actions_area{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.action_box{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.piu_action_icon{
    height: 18px;
    margin: 0 8px;
    cursor: pointer;
}

.active_button ~ .action_count{
    color: #df1c1c;
    font-weight: 600;
}

.action_count{
    color: #C6C5C5;
    font-weight: 500;
    margin: 15px 0;
}

.sem_pius{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    margin: 0;
    color: rgb(94, 94, 94);
}

.sem_pius img{
    height: 80px;
}

.sem_pius h2{
    font-size: 22px;
    color: rgb(44, 44, 44);
}

@media screen and (max-width: 1000px){

    .piu_message{
        width: 100%;
    }

    #popup_piar_reply .popup_tela_cheia_conteudo{
        width: 80%;
    }

    .piu_text_area{
        width: 80%;
    }
}

@media screen and (max-width: 800px){
    
    #popup_piar_sidebar .popup_tela_cheia_conteudo{
        width: 80%;
    }

}