body{
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    border-bottom: 2px solid #ddd;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

#left_side_header, #right_side_header{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.logo_piu{
    height: 39px;
    object-fit: contain;
}

.main_content{
    display: flex;
    justify-content: center;
    margin: 60px auto 0;
    width: 1000px;
}

a{
    text-decoration: none;
    color: #000;
}

input:focus{
    outline: none;
}

textarea{
    resize: none;
    overflow: hidden;
}

textarea:focus{
    outline: none;
}

footer{
    border-top: 2px solid #ddd;
    padding: 0 20px;
    height: 100px;
    box-sizing: border-box;
}

.piupiuwer_copyright{
    align-content: end;
    margin: 20px 0;
}

#piupiuwer_copyright_text{
    font-size: 12px;
    color: #888;
}

.logo_piupiuwer_grey{
    height: 30px;
}

.not_displayed{
    display: none;
}

.invisible{
    visibility: hidden;
}

.active {
  display: block;
}

.centralized_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featureless_textfield{
    display: block;
    border: none;
    background-color: transparent;
}

.ponto{
    height: 5px;
    width: 5px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 10px;
    display: block;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media screen and (max-width: 1000px){
    .main_content{
        width: 100%;
        border: none;
    }
}

@media screen and (max-width: 320px){
    .main_content{
        width: 320px;
    }
}
