.textfield_extension{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
    height: 30px;
    border: none;
    border-bottom: 2px solid #999;
}

.botao_ajuda{
    cursor: pointer;
    padding: 0 4px;
}

.ver_senha{
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    font-weight: 600;
    padding: 0 4px;
}

.ver_senha_invisible{
    display: none;
}

.focused_textfield{
    border-bottom: 2px solid #474747;
}